APP_NAME=RODS Backend
APP_VERSION=0.1.0

CAMERA_SOURCE_TYPE=usb
CAMERA_SOURCE=0
CAMERA_DEFAULT_USB_INDEX=0
CAMERA_DISCOVERY_MAX_INDEX=5
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
CAMERA_FPS=30

FRAME_JPEG_QUALITY=85
STREAM_BOUNDARY=frame

VISION_ENABLED=true
VISION_MODEL_PATH=yolov8n.pt
VISION_CONFIDENCE_THRESHOLD=0.5
VISION_IOU_THRESHOLD=0.45
VISION_MAX_DETECTIONS=100
VISION_INFERENCE_FPS=5
VISION_LOG_INTERVAL_SECONDS=5
